%button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 1px solid var(--accent-color);

  cursor: pointer;
  transition: color var(--hover-animation), background-color var(--hover-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }
}

%button-inversion {
  @extend %button;

  background-color: transparent;
  color: var(--main-text-color);
  border-color: var(--main-text-color);

  transition: border-color var(--hover-animation), color var(--hover-animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
#button {
  display: inline-block;
  background-color: #24252560;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #737a80;
}
#button:active {
  background-color: rgb(53, 52, 52);
}
#button::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
