%button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--accent-color);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--accent-color);

  cursor: pointer;
  transition: color var(--hover-animation), background-color var(--hover-animation);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
  }
}
