%button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 1px solid var(--accent-color);

  cursor: pointer;
  transition: color var(--hover-animation), background-color var(--hover-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
  }
}

%button-inversion {
  @extend %button;

  background-color: transparent;
  color: var(--main-text-color);
  border-color: var(--main-text-color);

  transition: border-color var(--hover-animation), color var(--hover-animation);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
