<header class="header header--home">
  <div class="container--header">
    <button class="logo" type="button">
      <svg class="logo__icon" width="20" height="20">
        <use href="/images/sprite.svg#logo"></use>
      </svg>
      <span class="logo__text">Filmoteka</span>
    </button>
    <ul class="navigation">
      <li class="navigatioon__item">
        <button id="home-btn" class="navigation__btn home-btn navigation__btn--current">
          home
        </button>
      </li>
      <li class="navigatioon__item">
        <button id="library-btn" class="navigation__btn">my library</button>
      </li>
    </ul>

    <div class="search-container">
      <form class="search">
        <input
          type="text"
          class="search-input search-field__input js-input-search"
          spellcheck="false"
        />
        <div class="cross"></div>
      </form>
    </div>

    <div class="library-btns-container on-home-none">
      <button id="watched-btn" class="library-btn library-btn--current" type="button">
        Watched
      </button>
      <button id="queue-btn" class="library-btn" type="button">queue</button>
    </div>
    <div class="dropdown">
      <button
        class="btn dropbtn btn-secondary dropdown-toggle dropdown-genres-btn"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Search by genres
      </button>
      <div
        class="dropdown-menu dropdown-content"
        id="genres-list"
        aria-labelledby="dropdownMenuButton2"
      >
        <a class="dropdown-item" id="28">Action</a>
        <a class="dropdown-item" id="12">Adventure</a>
        <a class="dropdown-item" id="16">Animation</a>
        <a class="dropdown-item" id="35">Comedy</a>
        <a class="dropdown-item" id="80">Crime</a>
        <a class="dropdown-item" id="99">Documentary</a>
        <a class="dropdown-item" id="18">Drama</a>
        <a class="dropdown-item" id="10751">Family</a>
        <a class="dropdown-item" id="14">Fantasy</a>
        <a class="dropdown-item" id="36">History</a>
        <a class="dropdown-item" id="27">Horror</a>
        <a class="dropdown-item" id="10402">Music</a>
        <a class="dropdown-item" id="9648">Mystery</a>
        <a class="dropdown-item" id="10749">Romance</a>
        <a class="dropdown-item" id="878">Science Fiction</a>
        <a class="dropdown-item" id="10770">TV Movie</a>
        <a class="dropdown-item" id="53">Thriller</a>
        <a class="dropdown-item" id="10752">War</a>
        <a class="dropdown-item" id="37">Western</a>
      </div>
    </div>
    <div class="switcher">
      <label id="switch" class="switch">
        <input type="checkbox" class="switcher-toggle" id="slider" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>
