<header class="header header--home">
	<div class="container--header">

		<button class="logo" type="button">
			<svg class="logo__icon" width="20" height="20">
				<use href="/images/sprite.svg#logo"></use>
			</svg>
			<span class="logo__text">Filmoteka</span>
		</button>
		<ul class="navigation">
			<li class="navigatioon__item">
				<button id="home-btn" class="navigation__btn home-btn navigation__btn--current">home
				</button>
			</li>
			<li class="navigatioon__item">
				<button id="library-btn" class="navigation__btn ">my library
				</button>
			</li>
		</ul>

		<div class="search-field ">
			<form class="search">
				<input type="text" class="search-input" spellcheck="false" />
				<div class="cross"></div>
			</form>
		</div>

		<div class="library-btns-container on-home-none">
			<button id="watched-btn" class="library-btn library-btn--current" type="button">Watched</button>
			<button id="queue-btn" class="library-btn" type="button">queue</button>
		</div>
	</div>
</header>