<header>
	<div class="container container--flex">

		<button class="logo" type="button">
			<svg class="logo__icon" width="20" height="20">
				<use href="/images/sprite.svg#logo"></use>
			</svg>
			<span class="logo__text">Filmoteka</span>
		</button>
		<ul class="navigation">
			<li class="navigatioon__item"><button class="navigation__btn navigation__btn--current">home</button></li>
			<li class="navigatioon__item"><button class="navigation__btn">my library</button></li>
		</ul>

		<div class="search-field">
			<input class="search-field__input" type="text" placeholder="Поиск фильмов">
			<svg class="search-field__svg" width="12" height="12">
				<use href="/images/sprite.svg#search"></use>
			</svg>
		</div>
	</div>
</header>