<section class="hero">
  <div class="main-container">
    <ul class="movie-card__list">
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
      <li class="movie-card__item">
        <div class="box"></div>
      </li>
    </ul>
  </div>
</section>
