<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__button" type="button" data-close>
      <svg class="modal__icon" width="30" height="30">
        <use href=""></use>
      </svg>
    </button>
    <article class="preview">
      <img class="preview__images" src="./images/1.jpg" alt="" />
      <h2 class="preview__title">A FISTFUL OF LEAD</h2>

      <!-- Film characteristics -->
      <ul class="preview__characteristics">
        <li class="preview__point">
          <p class="preview__property">Vote / Votes</p>
          <span class="preview__value">7.3</span> /
          <span class="preview__value preview__value--accent">1260</span>
        </li>
        <li class="preview__point">
          <p class="preview__property">Popularity</p>
          <span class="preview__value">100.2</span>
        </li>
        <li class="preview__point">
          <p class="preview__property">Original Title</p>
          <span class="preview__value">A FISTFUL OF LEAD</span>
        </li>
        <li class="preview__point">
          <p class="preview__property">Genre</p>
          <span class="preview__value">Western</span>
        </li>
      </ul>

      <!-- Film description -->
      <p class="preview__subtitle">About</p>
      <p class="preview__description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>

      <!-- Button List -->
      <ul class="preview__list">
        <li class="preview__item">
          <button class="preview__button" type="button">add to Watched</button>
        </li>
        <li class="preview__item">
          <button class="preview__button" type="button">add to queue</button>
        </li>
      </ul>
    </article>
  </div>
</div>
