.footer {
  background-color: var(--second-bg-color);
}

.footer-copyright {
  padding-top: 30px;
  padding-bottom: 28px;

  color: #545454;

  justify-content: center;
  text-align: center;
  // align-items: center;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.18;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    font-size: 16px;
    line-height: 1.14;
  }
}

.footer-copyright--right {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 3px;
  }

  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.footer-copyright--text {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

//!============ btn GoIT Students
.footer-copyright--btn {
  // position: relative;
  color: #545454;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration-line: underline;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

.click {
  @media screen and (max-width: 1023px) {
    display: none;
  }
  text-align: left;
}

.footer-copyright--btn span {
  text-decoration-line: underline;
  width: 103px;
  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: 0px;
    display: block;
  }
}

.footer-copyright--btn span:nth-child(1) {
  @media screen and (min-width: $desktop) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
}

.footer-copyright--btn span:nth-child(2) {
  @media screen and (min-width: $desktop) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
}

.footer-copyright--btn:hover span:nth-child(1) {
  @media screen and (min-width: $desktop) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.footer-copyright--btn:hover span:nth-child(2) {
  @media screen and (min-width: $desktop) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}

//!============ heart
.heart {
  animation: heartbeat 1s infinite;
  background-color: var(--accent-color);
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;

  &:before,
  &:after {
    content: '';
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &:before {
    top: -5px;
    left: 0;
  }

  &:after {
    left: 5px;
    top: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.1) rotate(-45deg);
  }
  40% {
    transform: scale(1.2) rotate(-45deg);
  }
}
