.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;

  transition: opacity var(--hover-animation);
  overflow-y: auto;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px 20px 40px 20px;
  width: 280px;

  background-color: var(--main-bg-color);
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__icon {
}

// Preview

.preview {
}

.preview__images {
  width: 240px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.preview__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 20px;
}

.preview__characteristics {
}

.preview__point {
}

.preview__property {
}

.preview__value {
  &--accent {
  }
}

.preview__subtitle {
}

.preview__description {
}

.preview__list {
}

.preview__item {
}

.preview__button {
}
