.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;

  transition: opacity var(--hover-animation);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 20px 40px 20px;
  width: 280px;
  height: 500px;

  background-color: var(--main-bg-color);
}
