.modal {
  padding: 20px 0 20px 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: auto;

  @media screen and (max-width: 767px) {
    align-items: flex-start;
  }
}

.modal__wrapper {
  position: relative;
  padding: 50px 20px 40px 20px;
  width: 280px;

  background-color: var(--main-bg-color);

  @media screen and (min-width: $tablet) {
    width: 618px;
    padding: 40px 30px 40px 30px;
  }

  @media screen and (min-width: $desktop) {
    width: 882px;
    padding: 50px 30px 40px 30px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    top: 5px;
  }
}

.modal__icon {
  stroke: var(--main-text-color);
  transition: stroke var(--hover-animation);

  .modal__button:hover &,
  .modal__button:focus & {
    stroke: var(--accent-color);
  }
}
