
.library {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  display: flex;
  justify-content: center;

}
.library-bg {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-bg__image {
  width: 320px;
  height: 320px;
  overflow: visible;
  background: url(/images/movie_dog.png) no-repeat center center;
  background-size: contain;
     @media screen and (min-width: $tablet) {
 width: 600px;
     height: 600px;
     }
    }

.library-bg__message {
  font-style: 700;
  font-size: 22px;
  line-height: 1.2;
  font-style: italic;
  color: var(--accent-color);
  margin-top: 10px;
  text-transform: uppercase;
}
